@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
	box-sizing: border-box;
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
}


*, *:before, *:after {
	box-sizing: inherit;
}

body{
  font-family: $raleway;
  background: url("../images/mountains.jpg") no-repeat center fixed;
  @include zero;
  // Hides close button if there is no js
  &.noscript .close-btn,
  &.noscript .toggle-btn{
    display: none;
  }
}

h1 {
  color: $brown;
  font-size: 25px;
  letter-spacing: 5px;
}

header {
  padding: 0 1em;
  position: relative;
}

.toggle-btn {
  position: absolute;
  left: .5em;
  top: .25em;
}

.upper {
  text-transform: uppercase;
}

.center {
  text-align: center;
}

.navigation ul {
  @include zero;
  width: 8em;
  li {
    list-style-type: none;
    a {
      font-size: 14px;
      letter-spacing: 2px;
      display: block;
      padding: 1em;
      text-align: left;
      text-decoration: none;
      color: $text-color;
      &:hover {
        color: $brown;
      }

    }
  }
}

.toggle-btn, .close-btn {
  color: $text-color;
  height: 40px;
  width: 40px;
  span {
    @include hide-text;
  }
  i {
    padding: .5em;
  }
}

.close-btn {
  margin-top: 2em;

}

@media only screen and (max-width: 100em){
  .site-wrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
    z-index: 100;
      .sliding-canvas {
        width: 100%;
        height: 100%;
        position: relative;
        transform: translateX(0);
        @include ease(all, 500ms, ease-in-out);
      }
    &[data-state="slide-open"] .sliding-canvas {
      transform: translateX(-100%);
    }

    &[data-state="slide-open"] {
      // allow expansion of navigation past page height when open
      overflow: visible;
    }
  
  .slide-menu {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 100%;
    }  

@media only screen and (min-width: 60 em) {
  .toggle-btn,
  .close-btn {
    display: none;
  }
}
  }
}

body.noscript .slide-menu {
  position: static;
  right: auto;
}




